@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ulyashka Industries<br />
    PokemonLand, WA-488-556-02<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ulyashkaInc@gaben.com">ulyashkaInc@gaben.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:ulyashkaInc@gaben.com">ulyashkaInc@gaben.com</a>
</address>